CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y
# TODO: REMOVE BEFORE PRODUCTION - disables TLS certificate verification
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y
CONFIG_WEBSOCKET_URI_FROM_STDIN=n
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
